body {
    background: url("../images/stardust.png");
    max-width: 98%;
}

#cars {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    color: white;
}

.container {
    text-align: center;
}

#guesses-left,
#guessed {
    display: inline-block;
    color: white;
}


.col-md-4 {
    border: dashed yellow;
    margin: 2px;
}